@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div style="width: 237px; height: 46px; flex-shrink: 0;">
        <button class="custom-button">Create New Entry</button>
        <div class="border-style">
            <label>
                Total Entries: 10
            </label>
       </div>
    </div>
</div>

