@model PersonaClassLibrary.JournalModel

@{
    ViewData["Title"] = "Post Journal";
}

<div class="border-style cover-width">

    <h2>Add Entry</h2>

    <!--add data to the list-->

    <form asp-action="PostJournal" method="post">
       <!--For Title-->
       <div style="margin-bottom:5%;">
           <div style="display:flex;">
               <label class="text-style item-text-style" asp-for="JournalName">Title</label>
               <label style="color:red">*</label>
           </div>
           <input type="text" asp-for="JournalName" class="cover-width" required />
           <span asp-validation-for="JournalName" class="text-danger"></span>
       </div>
       
       <!--For Date-->
       <div style="margin-bottom:5%;">
           <div style="display:flex;">
               <label class="text-style item-text-style" asp-for="UserEnteredDate">Date</label>
               <label style="color:red">*</label>
           </div>
           <input type="text" asp-for="UserEnteredDate" class="cover-width" required />
           <span asp-validation-for="UserEnteredDate" class="text-danger"></span>
       </div>
       
       <!--For Description-->
       <div style="margin-bottom:5%;">
           <div style="display:flex;">
               <label class="text-style item-text-style" asp-for="Description">Description</label>
               <label style="color:red">*</label>
           </div>
           <textarea asp-for="Description" class="border-style cover-width" required></textarea>
           <div class="error-message" id="errorParagraphInput"></div>
       </div>
       
        <!--For Submitting the form-->
        <button class="submit-btn-border" type="submit">Submit</button>
    </form>

</div>  


